@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-all duration-300 ease-in-out;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for other browsers */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

 